@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Welcome to Spoty App</h1>
        <p>Test Concurrency in c#</p>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">Topics</div>
        <div class="panel-body">
            <p>
                Project for test concurrency in c#
                For more details check my blog: https://fmoralesdev.com/
            </p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Tasks</li>
            <li class="list-group-item">Async-Await</li>
            <li class="list-group-item">Parallel</li>
            <li class="list-group-item">Spotify Api</li>
        </ul>
    </div>
</div>
